.small-section{
    background-color:red;
    height:90vh;
}

.blue{
    background-color:blue;
}

.green{
    background-color:green;
}

.social-media-bg{
    background-color:white;
    height:50px;
    width:250px;
    border-radius: 5px;
}